@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
    .teste-video{
        width: 500px;
        height: 300;
    }
  
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}

@media screen and (max-width:500px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
    
    .teste-video{
        width: 400px;
        height: 200px;
        align-items: center;
        text-align: center;
        display: flex;
    }
  
}

@media screen and (max-width:300px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
    
    .teste-video{
        width: 200px;
        height: 100px;
        align-items: center;
        text-align: center;
        display: flex;
    }
  
}


